<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load section %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Free our knowledge</title>
  <link rel="icon" href="{% static 'img/logo_img_trans.png' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'styles/stylesheet.css' %}" media="screen,projection" />
  <script type="text/javascript" src="{% static 'js/bin/materialize.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
</head>
<body>
{% if messages %}
{% include 'fok/partials/messages.html' %}
{% endif %}
    {% if not user.is_anonymous and not user.is_greeted %}
      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          {% if config.TITLE_GREETINGS %}
            <h4 style="color: #f68212;">
            <img src="{% static 'img/logo_img_trans.png' %}" style="height: 1em; width: auto;" />
            {{ config.TITLE_GREETINGS }}
            </h4>
            {% endif %}
          {% if config.TEXT_GREETINGS %}<p style="margin-top: 30px;">{{ config.TEXT_GREETINGS }}</p>{% endif %}

            <form id="greetings_form" action="{% url 'newsletter' %}" style="margin-top: 25px" method="POST">
                {% csrf_token %}
                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                {% if config.SHOW_SIGNUP_MAILING_ON_GREETINGS %}
                <div class="row">
                    <div class="input-field col s4 offset-s1">
                      <input id="email" name="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                    <div class="col s5 offset-s1" style="padding-top: 2rem;">
                        <div class="switch">
                        <label>
                          Don't update me
                          <input type="checkbox" name="newsletter" checked id="newsletter">
                          <span class="lever"></span>
                          Keep me updated
                        </label>
                      </div>
                    </div>
                </div>
                {% endif %}
            </form>
            {% if config.COOKIES_TEXT %}
            <div class="row" style="font-size: 0.8rem; color: white; text-align: right; background-color: #f68212; padding: 3px 10px;">
              {{ config.COOKIES_TEXT }}
            </div>
            {% endif %}
        </div>

        <div class="modal-footer">
          <a onclick="javascript:document.getElementById('greetings_form').submit();" class="waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
      <script>
          $(document).ready(function(){
            var elem = document.querySelectorAll('.modal');
            var instance = M.Modal.init(elem, {
                'dismissible': false
            })[0];
            instance.open();
          });
      </script>
    {% endif %}
    <header class="z-depth-2">
        <div class="row valign-wrapper">
            <div class="col s1 offset-s1 right-align">
              <a href="{% url 'home' %}">
              <img src="{% static 'img/logo3.png' %}" style="height: 5rem; width: auto;"/>
              </a>
            </div>
            {% if user.is_anonymous %}
            <div class="col s7 offset-s3">
                <ul class="menu">
                  <li><a href="{%url 'home' %}#campaigns">Campaigns</a></li>
                  <li><a href="{% url 'page' 'about' %}">About</a></li>
                  <li><a href="{% url 'page' 'news' %}">News & Media</a></li>
                  <li><a href="{% url 'page' 'faq' %}">FAQ</a></li>
                  <li><a href="{% url 'page' 'contribute' %}">Contribute</a></li>
                </ul>
            </div>
            {% else %}
            <div class="col s8 offset-s2">
                <ul class="menu">
                  <li><a href="{%url 'home' %}#campaigns">Campaigns</a></li>
                  <li><a href="{% url 'page' 'about' %}">About</a></li>
                  <li><a href="{% url 'page' 'news' %}">News & Media</a></li>
                  <li><a href="{% url 'page' 'faq' %}">FAQ</a></li>
                  <li><a href="{% url 'page' 'contribute' %}">Contribute</a></li>
                  <li><a href="{%url 'user' %}" class="waves-effect waves-light btn white-text orange darken-4" style="text-transform: none;">My page <i class="material-icons right">settings</i></a></li>
                </ul>
            </div>
            {% endif %}

            <div class="col s2">
                <div class="nav-wrapper">
                </div
            ></div>
        </div>
    </header>
    <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    </main>
    <footer class="page-footer white z-depth-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12 grey-text">
              {{ "footer"|section }}
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="black-text">Contact us:</h5>
            <ul>
              {% if config.TWITTER_PROFILE %}<li><a href="{{ config.TWITTER_PROFILE }}"><ion-icon name="logo-twitter"></ion-icon> Twitter</a></li>{% endif %}
              {% if config.FACEBOOK_PROFILE %}<li><a href="{{ config.FACEBOOK_PROFILE }}"><ion-icon name="logo-facebook"></ion-icon> Facebook</a></li>{% endif %}
              {% if config.INSTAGRAM_PROFILE %}<li><a href="{{ config.INSTAGRAM_PROFILE }}"><ion-icon name="logo-instagram"></ion-icon> Instagram</a></li>{% endif %}
              {% if config.YOUTUBE_PROFILE %}<li><a href="{{ config.YOUTUBE_PROFILE }}"><ion-icon name="logo-youtube"></ion-icon> Youtube</a></li>{% endif %}
              {% if config.GITHUB_PROFILE %}<li><a href="{{ config.GITHUB_PROFILE }}"><ion-icon name="logo-github"></ion-icon> Github</a></li>{% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright orange darken-4">
        <div class="container">
        <span class="grey-text text-lighten-4 right">This web site is being jovially developed by
          <a class="grey-text text-lighten-4" href="https://codi.coop/en/" style="text-decoration:underline;">Codi Cooperatiu</a>.
        </span>
        </div>
      </div>
    </footer>
</body>
</html>
